{% extends 'layouts/base.html.twig' %}

{% block title %}Borrar una Película de la DB{% endblock %}

{% block main %}
{{ parent() }}
<div class="mb-3 text-center d-flex flex-column justify-content-center align-items-center w-full border p-4">
    <!-- Card with no padding with multiple content containers nested inside of it -->
    <div class="w-800 mw-full"> <!-- w-600 = width: 60rem (600px), mw-full = max-width: 100% -->
        <div class="card p-6 m-2 d-flex flex-column justify-content-center"> <!-- p-0 = padding: 0 -->
            <!-- First content container nested inside card -->
            <h3>CONFIRMAR EL BORRADO DEL LUGAR {{ place.titulo }} CON ID: {{ place.id }}</h3>
              <p>ojo!, esta acción es irreversible</p>
              <div class="content">
                {{ form(formulario) }}
              </div>
        </div>
    </div>
</div>
{% endblock %}
