{% extends 'layouts/base.html.twig' %}

{% block title %} Contacto {% endblock %}

{% block main %}
{{ parent() }}
<div class="d-flex text-center m-20 p-5">
  <div class="container-fluid m-10">
    <h2>PROYECTO DE GESTIÓN DE USUARIOS REALIZADO EN EL CIFO LA VIOLETA</h2>
    <!-- First row -->
    <div class="row p-5 m-5 border">
      <div class="col-xl-6 p-5">
        <div class="border">
          <h4 class="">Roles de Usuarios:</h4>
          <ul>
            <li class="font-size-16 font-weight-bold text-decoration-underline">Role Admin</li>
            <li class="font-size-16 font-weight-bold text-decoration-underline">Role Editor</li>
            <li class="font-size-16 font-weight-bold text-decoration-underline">Role User</li>
            <li class="font-size-16 font-weight-bold text-decoration-underline">Usuario Anónimo</li>
          </ul>
          <p class="font-italic font-size-12 text-lowercase m-20">LA GESTIÓN DE LOS USUARIOS SE REALIZA A TRAVÉS DE DISTINTOS MÉTODOS DE AUTENTICACIÓN, USANDO DISTINTOS VOTERS SEGÚN EL CASO DE USO</p>
        </div>
      </div>
      <div class="col-xl-6 p-5">
        <div class="border">
          <h4 class="">Casos de Uso:</h4>
          <p class="font-italic font-size-12 text-lowercase mt-0 mb-10">Se establece un sistema de herencia en la jerarquia de roles del sistema</p>
          <ul>
            <li class="font-size-16 font-weight-lighter">El <span class="text-decoration-underline">usuario anónimo</span> puede ver y buscar lugares, ver fotos, ponerse en contacto con el admin del sistema, registarse y/o hacer login en el sistema</li>
            <li class="font-size-16 font-weight-lighter">El <span class="text-decoration-underline">usuario registrado</span>, previa verificación por mail, puede crear lugares, añadir fotos, editar su perfil y los lugares y fotos de sus propiedad y comentar cualquier lugar</li>
            <li class="font-size-16 font-weight-lighter">El <span class="text-decoration-underline">usuario editor</span>, puede crear lugares, añadir fotos, editar su perfil y los lugares y fotos de otros usuarios así como borrar comentarios</li>
            <li class="font-size-16 font-weight-lighter">El <span class="text-decoration-underline">usuario administrador</span>, puede editar los perfiles de los usuarios y dar de baja usuarios, lugares, comentarios o fotos.</li>
          </ul>
          <p class="font-italic font-size-12 text-lowercase m-20">LA GESTIÓN DE LOS USUARIOS SE REALIZA A TRAVÉS DE DISTINTOS MÉTODOS DE AUTENTICACIÓN, USANDO DISTINTOS VOTERS SEGÚN EL CASO DE USO</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center p-5 m-5 border">
      <div class="p-5">
        <div class="border">
          <h4 class="">Relaciones entre Entidades:</h4>
          <p class="font-italic font-size-12 text-lowercase mt-0 mb-10">LUGARES, FOTOS, COMENTARIOS Y USUARIOS</p>
          <ul>
            <li class="font-size-16 font-weight-lighter">Un <span class="text-decoration-underline">usuario</span> tiene N Lugares, Fotos o Comentarios</li>
            <li class="font-size-16 font-weight-lighter">Un <span class="text-decoration-underline">lugar</span> es de un Usuario y tiene N comentarios y N Fotos</li>
            <li class="font-size-16 font-weight-lighter">Una <span class="text-decoration-underline">foto</span> pertenece a un Lugar y a un Usuario</li>
            <li class="font-size-16 font-weight-lighter">Un <span class="text-decoration-underline">comentario</span> pertenece a un Lugar y a un Usuario</li>
          </ul>
          <p class="font-italic font-size-12 text-lowercase m-20">LA GESTIÓN DE LOS USUARIOS SE REALIZA A TRAVÉS DE DISTINTOS MÉTODOS DE AUTENTICACIÓN, USANDO DISTINTOS VOTERS SEGÚN EL CASO DE USO</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}